# Miscellaneous
*.class
*.log
*.pyc
*.swp

# MacOS-spezifisch
.DS_Store
# Windows-spezifisch (falls Team)
Thumbs.db

.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Fastlane deployment
.env
fastlane/*.p8

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
.metadata
.flutter-*
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
build/
build/**

# iOS build artifacts
ios/*.ipa
ios/*.dSYM.zip

# Eventuell generierte Datei durch flutter build apk/ipa
*.apk
*.aab
*.app.dSYM.zip
*.ipa

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
# Android Gradle Cache und lokale Properties (nie ins Git!)
android/.gradle/
android/local.properties

# Lokale Projektdateien
*.code-workspace
devtools_options.yaml

